.p-button-success {
    background: green;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-button-notsuccess {
    background: red;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
}