<div class="flex w-full flex-col items-center justify-center min-h-screen">
  <h1 class="text-3xl text-emerald-500">Login Field Checker Dirty</h1>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="w-3/4 p-4 rounded-xl mx-auto mt-8 border border-black"
  >
    <div class="mb-4">
      <label for="username" class="block">Username:</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-input mt-1 p-1 block w-full rounded-md border-black border"
      />
    </div>
    <div class="mb-4 relative">
      <label for="password" class="block">Password:</label>
      <i
        class="absolute right-0 fa p-2"
        [ngClass]="{ 'fa-eye': !showPassword, 'fa-eye-slash': showPassword }"
        (click)="togglePasswordVisibility()"
      ></i>
      <input
        type="{{ showPassword ? 'text' : 'password' }}"
        id="password"
        formControlName="password"
        class="form-input border border-black mt-1 p-1 block w-full rounded-md"
      />

      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="text-red-500 mt-2"
      >
        <div *ngIf="password?.errors as errors">
          <div *ngIf="errors['required']">Password is required.</div>
          <div *ngIf="errors['minlength']">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="errors['caseMismatch']">
            Password must contain both upper and lower case letters.
          </div>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500  px-4 py-2 rounded-md"
    >
      Submit
    </button>
  </form>
   <p-toast class="message"></p-toast>

  <div class="rounded-xl p-2 border border-black mt-8 w-3/4 mx-auto">
    <h2 class="text-xl font-bold mb-4">Temporary Users:</h2>
    <table class="p-2 w-full">
      <thead>
        <tr>
          <th class="border border-black p-2">Username</th>
          <th class="border border-black p-2">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of temporaryUsers" class="mb-2">
          <td class="border border-black p-2">{{ user.username }}</td>
          <td class="border border-black p-2">{{ user.password }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
