<div class="flex h-screen">
  <nav class="flex flex-col bg-emerald-400 text-white w-[20%] h-full p-4">
    <h1 class="text-3xl font-bold mb-4">Explore Here</h1>

    <a href="dirty-checker" class="nav-link">Login Dirty Checker</a>
    <a href="credit-card-formatter" class="nav-link">Credit Card Validator</a>
    <a href="todo-with-signal" class="nav-link">Todo Using Signal</a>
    <a href="drop-down" class="nav-link">Drop Down</a>
  </nav>

  <div class="w-[80%] p-4">
    <router-outlet></router-outlet>
  </div>
</div>



